.main-header{
    background-color: rgb(139, 61, 77);
    text-align: center;
}
h1{
    color: antiquewhite;
    font-weight: bold;
}
.main{
    text-align: center;
    padding: 2px;
    margin: auto;
}
.main-div{
    size: 60%;
    padding: 30px;
    margin: 5px;
    background-color: aquamarine;
}
input{
    padding: 5px;
}
.item-list-container{
    margin: 5px;
    border: 1px solid black;
    padding: 3px;
    background-color: rgb(97, 57, 6);
    list-style: none;
}
.items{
    color: rgb(160, 126, 111);
    list-style: none;
    margin: 7px;
    padding:3px;
}
.btn {
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    text-decoration : none;
    padding : 4px;
    border-color : #000000
  }